@charset 'utf-8';

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Segment7Standard";
  src: url("./assets/fonts/Segment7Standard.otf") format("opentype");
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
}

body {
  background-color: #282c34;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scoreboard {
  justify-content: space-evenly;
  margin-top: 1rem;
  text-align: center;
}

.scoreboard-font {
  font-family: "Segment7Standard";
}
